<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abstractionizer.studentInformationSystem6.db.rmdb.mappers.CourseMapper">

    <select id="countByCourseIdsOrCourse" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM course
        <where>
            <choose>
                <when test="course_ids != null">
                    status = 1 AND id IN
                    <foreach collection="course_ids" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </when>
                <when test="course != null and course != ''">
                    status = 1 AND course = #{course}
                </when>
            </choose>
        </where>
    </select>
    <select id="getAllCourses"
            resultType="com.abstractionizer.studentInformationSystem6.models.vo.course.CourseVo">
        SELECt id, course
        FROM course
    </select>

</mapper>