<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abstractionizer.studentInformationSystem6.db.rmdb.mappers.HomeworkMapper">

    <select id="countBySemesterClassId" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM homework
        WHERE semester_class_id = #{semester_class_id}
    </select>

    <select id="selectHomeworksByClassIdAndDeadline"
            resultType="com.abstractionizer.studentInformationSystem6.models.dto.homework.HomeworkDto">
        SELECT semester_class_id, questions
        FROM homework h
        JOIN semester_class sc ON sc.id = h.semester_class_id
        JOIN class c ON c.id = sc.class_id
        WHERE c.id = #{class_id} AND deadline > #{now} AND h.status = 1
    </select>
    <select id="selectAnswersBySemesterClassIdString" resultType="java.lang.String">
        SELECT answers
        FROM homework
        WHERE semester_class_id = #{semester_class_id}
    </select>


</mapper>