<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abstractionizer.studentInformationSystem6.db.rmdb.mappers.MajorMapper">

    <select id="countByMajorIdOrMajor" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM major
        <where>
            <if test="major_ids != null">
                id IN
                <foreach collection="major_ids" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="major != null and major != ''">
                major = #{major}
            </if>
        </where>
    </select>
    <select id="getAllMajors"
            resultType="com.abstractionizer.studentInformationSystem6.models.vo.major.MajorVo">
        SELECT id, major
        FROM major
    </select>

    <resultMap id="preCourseCount" type="com.abstractionizer.studentInformationSystem6.models.dto.course.PreCourseCountDto">
        <id column="id" property="courseId"/>
        <result column="num_of_pre_course" property="numOfPreCourse"/>
    </resultMap>

    <select id="getNumOfPreCourse" resultMap="preCourseCount">
        SELECT x.id, COUNT(pc.pre_course_id) as num_of_pre_course
        FROM (SELECT c.id
              FROM major m
              JOIN major_course mc ON mc.major_id = m.id
              JOIN course c ON c.id = mc.course_id
              WHERE m.id = #{id}
             ) as x
        LEFT JOIN pre_course pc ON pc.course_id = x.id
        GROUP BY x.id
    </select>
</mapper>