<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abstractionizer.studentInformationSystem6.db.rmdb.mappers.StudentClassMapper">

    <resultMap id="StudentsOfTheClass" type="com.abstractionizer.studentInformationSystem6.models.vo.studentClass.StudentsOfTheClass">
        <id column="id" property="semesterClassId" jdbcType="INTEGER"/>
        <result column="week_no" property="weekNo" jdbcType="INTEGER"/>
        <collection property="students" ofType="com.abstractionizer.studentInformationSystem6.models.vo.user.student.StudentVo">
            <id column="student_id" property="studentId" jdbcType="INTEGER"/>
            <result column="student_name" property="studentName" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <update id="updateAttendanceByClassIdAndStudentId">
        UPDATE student_class
        SET attendance = (case
            <foreach collection="dto" item="item">
                WHEN (student_id = #{item.studentId}) THEN #{item.attendance}
            </foreach> END)
        WHERE class_id = #{class_id} AND student_id IN
            <foreach collection="dto" item="item" open="(" separator="," close=")">
                #{item.studentId}
            </foreach>
    </update>

    <select id="selectByClassIdAndWeekNo" resultMap="StudentsOfTheClass">
        SELECT smc.id, week_no, s.id AS student_id, username AS student_name
        FROM student_class stc
        JOIN semester_class smc ON smc.class_id = stc.class_id
        JOIN student s ON s.id = stc.student_id
        WHERE stc.class_id = #{class_id} AND smc.week_no = #{week_no} AND stc.status = 1
    </select>
    <select id="selectByClassIdAndWeekNum"
            resultType="com.abstractionizer.studentInformationSystem6.db.rmdb.entities.SemesterClass">
        SELECT *
        FROM semester_class
        WHERE class_id = #{class_id} AND week_no = #{week_no}
    </select>
    <select id="countByStudentIdAndClassId" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM student_class
        WHERE class_id = #{class_id} AND student_id IN
            <foreach collection="student_ids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>
    <select id="selectAttendanceByClassId"
            resultType="com.abstractionizer.studentInformationSystem6.models.dto.attendance.AttendanceDto">
        SELECT s.id AS studentId, username AS studentName, attendance
        FROM student_class sc
        JOIN student s ON s.id = sc.student_id
        WHERE sc.class_id = #{class_id}
    </select>
    <select id="selectAttendanceByStudentIdAndClassIdAndSemesterId" resultType="java.lang.Float">
        SELECT attendance
        FROM student_class sc
        JOIN class c ON c.id = sc.class_id
        WHERE sc.student_id = #{student_id} AND sc.class_id = #{class_id} AND c.semester_id = #{semester_id} AND c.status = 1
    </select>

    <resultMap id="ClassVo" type="com.abstractionizer.studentInformationSystem6.models.vo.classes.ClassVo">
        <id column="id" property="classId" jdbcType="INTEGER"/>
        <result column="course" property="course" jdbcType="VARCHAR"/>
        <result column="week_day" property="weekDay" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="TIME"/>
        <result column="end_time" property="endTime" jdbcType="TIME"/>
    </resultMap>

    <select id="selectByStudentIdAndSemesterId" resultMap="ClassVo">
        SELECT cl.id, cl.week_day, c.course, cl.start_time, cl.end_time
        FROM student_class sc
        JOIN class cl ON cl.id = sc.class_id
        JOIN course c ON c.id = cl.course_id
        WHERE sc.student_id = #{student_id} AND cl.semester_id = #{semester_id} AND sc.status = 1 AND cl.status = 1
        ORDER BY week_day, start_time
    </select>
</mapper>